@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.no-overflow {
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.custom-shadow-bg-white {
  box-shadow: 8px 6px 6px rgba(0, 0, 0, 0.2);
  background-color: white;
}


@layer utilities {
  .group:hover .group-hover\:opacity-100 {
    opacity: 1;
  }

  .group-hover\:scale-105:hover {
    transform: scale(1.05);
  }

  .pointer-events-auto {
    pointer-events: auto;
  }

  .pointer-events-none {
    pointer-events: none;
  }
}


